
code {
  background-color: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table th, table td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid #ddd;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

/* extra.css */
.black-text {
    color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Make headers bold */
}


/* Light green background for footnotes */
.footnote-ref, .footnote {
  background-color: #e0f7e9; /* light green color */
  padding: 5px;
  border-radius: 3px;
}


img[src="images/agreement.png"] {
  width: 300px;
  height: auto;
}

/* Hides the secondary sidebar (ToC) */
.md-sidebar--secondary, .md-nav__title {
    display: none !important;
}


/* Expand main content to take up full width */
.md-main {
    max-width: 100% !important;
}

.download-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #2ecc71; /* Primary button color */
    color: #fff!important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
   
}

.line {
    border-top: 1px solid #ddd;
    margin: 10px 0;
}


.download-button .icon {
    margin-right: 8px; /* Space between icon and text */
}



.tab-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Optional: add a border for aesthetics */
}

.tabcontent {
  display: none; /* Hidden by default */
  padding: 5px 15px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.tablink {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap; /* Prevent line breaks */
}

.tablink:hover {
  background-color: #ddd;
}

.tablink.active {
  background-color: #ccc;
}

.small-font {
  font-size: 1em; /* Adjust this value for desired size */
  line-height: 1.2; /* Adjust line height for readability */
}
